
[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "thirdparty/moderngpu"]
	path = thirdparty/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "thirdparty/thrust"]
	path = thirdparty/thrust
	url = https://github.com/NVIDIA/thrust.git
