[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = git@github.com:NVIDIA/cub.git
[submodule "thirdparty/thrust"]
	path = thirdparty/thrust
	url = git@github.com:NVIDIA/thrust.git
[submodule "thirdparty/moderngpu"]
	path = thirdparty/moderngpu
	url = git@github.com:moderngpu/moderngpu.git
