/target

# Maven
/.m2
.maven-classpath

# Editors
*~
*.swp

# Project-specific
/config-local
/graphalytics-*.tar.gz
/*-report-*
/neo4j-data

# Intellij
*.iml
*.ipr
*.iws
.idea/
out/
**/target

.vscode
.factorypath
.settings
.project
