name: CUDA CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [self-hosted]
    if: ${{ false }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make
      - name: APP Test
        run: |
          ./misc/cuda_app_tests.sh
